/* modal */
.modal-footer {
  border-top: 0;
}

.modal-footer .shiny-input-container{
  position: absolute;
  left: 0; 
}

#element_name {margin-bottom: 25px;}

/* settings */
.settings {
  position: absolute; 
  right: 10px; 
  top: 10px;
  background: none;
  border: none;
}

.settings i {
  font-size: 20px;
  color: darkslategray;
}

/*--------------------------------------------------------------
	Gridstack stuff
--------------------------------------------------------------*/
.grid-stack {
  width = 100vw;
}

.grid-stack-item-content .col-sm-12 {height: 100%;}
.bs4Dash.card {height: calc(100% - 10px);}
.small-box {height: calc(100% - 10px);}
.small-box .inner {height: calc(100% - 10px);}
.grid-stack-item-content {height:100%; overflow:hidden!important;}

/* data tables */
.dataTables_scroll {height: calc(100% - 100px);}
.dataTables_wrapper {height: 100%;}
.datatables {height: 100%!important; overflow: scroll;}