/*--------------------------------------------------------------
	right sidebar
--------------------------------------------------------------*/
#right_sidebar {
  background-color: #1E2B32;
  color: white;
}

#right_sidebar .header{
  padding: 5px;
  background-color: #2A3942;
}

#right_sidebar h3{
  margin: 10px;
  font-size: 20px;
}

#right_sidebar i{
  margin-right: 8px;
}

#right_sidebar li{
  padding: 5px 10px;
  margin-left: -40px;
  margin-top: 0px;
  list-style: none;
  display: block;
  color: white;
}

#right_sidebar li:hover{
  transition: 0.5s all;
  color: #2f89fc;
  background-color: rgba(42, 56, 65, 0.82);
  cursor: pointer;
}


#right_sidebar .action-button {
  background: transparent;
  border: none;
  color: white;
  padding-left: 0px;
}

#right_sidebar li:hover .action-button {
  transition: 0.5s all;
  color: #2f89fc;
}

/*--------------------------------------------------------------
	Element Builder Modal
--------------------------------------------------------------*/
/* modal */
.modal-footer {
  border-top: 0;
}

.modal-footer .shiny-input-container{
  float: left;
  text-align: left;
}
.modal-footer .btn{
  margin-top: 40px;
}

/*--------------------------------------------------------------
	dashboard elements
--------------------------------------------------------------*/

/* settings */
.settings {
  position: absolute;
  right: 20px;
  top: 10px;
  background: none;
  border: none;
}

.settings i {
  font-size: 20px;
  color: darkslategray;
}

/*--------------------------------------------------------------
	Gridstack stuff
--------------------------------------------------------------*/
.grid-stack {width = 100vw; min-height: 100px}
.box-body {height: calc(100% - 45px);}
.small-box {height: calc(100% - 10px);}
.small-box .inner {height: calc(100% - 10px);}
.grid-stack-item-content {height: calc(100% - 20px); overflow:hidden!important;}
.grid-stack-item-content .col-sm-12 {height: 100%;}

/* data tables */
.dataTables_scroll {height: calc(100% - 100px);}
.dataTables_wrapper {height: 100%;}
.datatables {height: 100%!important; overflow: scroll;}
